<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->

<app-add-pet (onAddPet)="addPet($event)"></app-add-pet>

<mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile *ngFor="let pet of pets">
    <app-pet
      [pet]="pet"
      (onAddFavorite)="addFavorite(pet)"
      (onDeletePet)="deletePet(pet)"
    ></app-pet>
  </mat-grid-tile>
</mat-grid-list>
