<form (ngSubmit)="onSubmit()">
  <mat-form-field class="add-margin" appearance="fill">
    <mat-label>Breed</mat-label>
    <input matInput placeholder="Shiba Inu" [(ngModel)]="breed" name="breed" />
  </mat-form-field>
  <mat-form-field class="add-margin" appearance="fill">
    <mat-label>Image URL</mat-label>
    <input matInput [(ngModel)]="url" name="url" />
  </mat-form-field>
  <mat-form-field class="add-margin" appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description" name="description" />
  </mat-form-field>
  <button mat-raised-button color="primary" class="add-button">ADD</button>
</form>
